<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FaceDetection</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                width: 100vw;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #video {
                border: solid 1px;
            }

            canvas {
                position: absolute;
            }
        </style>
    </head>

    <body>
        <video id="video" width="1080" height="720" autoplay muted></video>
    </body>
    
    <script type="text/javascript" src="js/face-api.min.js" defer></script>
    <script type="text/javascript" src="js/script.js" defer></script>
</html>